* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.fa-angles-up,
.fa-angles-down {
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
}

.ms_next,
.ms_prev {
  z-index: 555;
}

.col-9 img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 650px;
  width: 100%;
  opacity: 0;
  object-fit: cover;
}

.ms_bigSlide {
  position: absolute;
  height: 650px;
}

.col-9 img.active {
  opacity: 1;
}

.col-3 img {
  width: 100%;
  height: calc(650px / 5);
  object-fit: cover;
  opacity: .6;
}

.hidden {
  display: none;
}

.show {
  display: block;
}